h1{
  color: aqua;
  font-size:100px;
  
}
h2{
  color:black;
}

#shibe {
    color: yellow;
}
#intro {
  color: white;
  font-size:40px;
  }
  
#intro:hover {
  color: yellow;
}
body{
  background-image:url("http://i.imgur.com/bfoXN2l.jpg");
}
